body {
  margin:0;
  padding-right: 20%;
  padding-left: 20%;
  font-family: Sans-Serif;
  line-height: 1.5em;
  color: #595957;
}

header {
  text-align: center;
  height:280px;
  background-image: linear-gradient(rgba(255, 255 ,255, 1), rgba(253, 253, 255, 0.9)), url("bg.jpg");
  background-size: 140px 280px;
  background-repeat: repeat-x;
}

header h1 {
  margin: 0;
  padding-top: 120px;
}

main {
  padding-bottom: 10010px;
  margin-bottom: -10000px;
  float: left;
  width: 100%;
}

nav {
  padding-bottom: 10010px;
  margin-bottom: -10000px;
  float: left;
  width: 230px;
  margin-left: -100%;
}

footer {
  clear: left;
  width: 100%;
  background: #ccc;
  text-align: center;
  padding: 4px 0;
}

#wrapper {
  overflow: hidden;
}

#content {
  margin-left: 230px; /* Same as 'nav' width */
}

h1:first-letter {
  text-transform: capitalize;
}

.innertube {
  margin: 15px; /* Padding for content */
  margin-top: 0;
}

p {
  color: #533;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul a {
  color: orange;
  text-decoration: none;
}

nav time {
  color: #ccc;
  font-size:small;
  display:block;
  margin-bottom: 5px;
}

img {
  border-width: 5px;
  border-style: solid;
  border-color: #eee;
}

pre{
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
  background-color: #eee;
  line-height: 80%;
  word-wrap: break-word;
  padding: 4px;

  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

blockquote {
  border-width: 1px 1px 1px 5px;
  border-style: solid;
  border-color: #ddd;
  background-color: #eee;
  line-height: 80%;
  word-wrap: break-word;
  padding: 4px;
}

